body {
    font-family: 'Arial', sans-serif;
    color: white;

    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)),
                    url('../imgs/background.jpeg'); /* Background img, styling stuff */
    background-repeat: no-repeat;
    background-size: cover;
}

background-image {
    opacity: 0.5;
}

input, textarea {
    width:100%;
    padding:10px;
    margin-top:6px;
    margin-bottom:14px;
}

.edit_link {
    margin-left: 25px;
}

.delete_btn {
    border-radius: 10px;
    margin: auto 25px;
    background-color: rgba(222, 222, 222, 0.705);
}

label {
    font-weight:bold;
}

button {
    padding:10px 16px;
    cursor:pointer;
}

.alert {
    padding:10px;
    margin-bottom:12px;
    border-radius:6px;
    color: black;
}

.success {
    background:#e9ffe9;
    border:1px solid #98d798;
    color: black;
}

.error {
    background:#ffecec;
    border:1px solid #e4a2a2;
    color: black;
}

.hint {
    font-size:12px;
    opacity:.75;
    margin-top:-10px;
    margin-bottom:12px;
}

table {
    width:100%; border-collapse:collapse;
    background-color: rgba(0, 0, 0, 0.634);
}

th,td {
    border:1px solid #dddddd6e; 
    padding:10px; 
    text-align:left;
}

th {
    background:#f5f5f577;
}

a {
    display:inline-block; margin-bottom:14px;
}

.container {
    background-color: rgb(0, 0, 0, 0.634);
    padding: 33px;
    border-radius: 33px;
    margin: 120px auto 40px auto;
    width: 80%;
}
