/* DARK THEME VIBES */
body {
    font-family: 'Arial', sans-serif;
    background: #121212; /* dark bg */
    color: #e0e0e0; /* light text */
    text-align: center;
    padding: 15px;

    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)),
                    url('../imgs/background.jpeg'); /* Background img, styling stuff */
    background-repeat: no-repeat;
    background-size: cover;
}

background-image {
    opacity: 0.5;
}

h1 {
    background-color: #bb86fc34;
    color: #bb86fcbe; /* purple pop */
    padding: 30px;
    margin-right:15px;
    margin-left:15px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.pic {
    border: 2px solid #bb86fc4f; /* subtle purple border */
    border-radius: 15px;
    overflow: hidden;
    width: 167px;
    height: 225px;
    box-shadow: 0 4px 10px #bb86fc4f;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3.3s, filter 1.3s;
}

.pic img:hover {
    transform: scale(2.2);
    filter: brightness(1.1);
}
