body {
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    }

.card {
    background: #1c1c1c;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    text-align: center;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: transform 0.3s;
    }

.card:hover {
    transform: scale(1.05);
    }

.card img {
    width: auto;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid rgba(207, 130, 238, 0.418);
    }

.card h1 {
    margin: 10px 0;
    font-size: 28px;
    }

.card p {
    font-size: 16px;
    color: #ccc;
    }

.quote {
    margin-top: 15px;
    font-style: italic;
    color: violet;
    }